<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СветЛуны</title>
    <link rel="icon" href="/static/img/favicon.ico" sizes="any">
    
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    
    <form action="/home" target="_self" class="catalog_b">
        <div id="shimmer" ><button  class="shimmer">На главную</button></div>
      </form>
    <div class="glassmorphism-form">

        <h2>Регистрация</h2>
        <form id="fff" th:action="@{/regist}" method="post">
            <label for="email" class="inform"></label>
            <input type="email" placeholder="Почта" name="email" id="email">
            <label for="name" class="inform"></label>
            <input type="text" placeholder="Имя" name="name" id="name">
            <label for="password" class="inform"></label>
            <input type="password" placeholder="Пароль" name="password" id="password">
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
    <div class="floating-squares">
        <div class="square square-1"></div>
        <div class="square square-2"></div>
        <div class="square square-3"></div>
        <div class="square square-4"></div>
        <div class="square square-5"></div>
    </div>


    <script>
        document.getElementById("registrationForm").addEventListener("submit", function(event) {
            var password = document.getElementById("password").value;
            var repeatPassword = document.getElementById("repeate-password").value;

            if (password !== repeatPassword) {
                alert("Пароли не совпадают");
                event.preventDefault();
            }


            localStorage.setItem("emailTaken", true);
        });
    </script>

    <script>
        var emailTaken = localStorage.getItem("emailTaken");
        if (emailTaken) {
            alert("Email уже занят");
            localStorage.setItem("emailTaken", false);
        }
    </script>

</body>
</html>
